@media (max-width: 1200px)
  .container
    max-width: 960px
  .hotel
    &-slider
      width: 590px
      &__image
        width: 100%
        height: 100%
        object-fit: cover
  .card
    width: 230px
    height: 230px
  .footer
    &__input
      flex-basis: 100%

@media (max-width: 992px)
  .container, .newsletter-wrapper
    max-width: 700px
  .logo
    width: 132px
  .navbar
    &-top
      padding-top: 30px
      padding-bottom: 30px
    &__search
      margin-left: auto
      max-width: 340px
    &-menu
      padding-top: 22px
      padding-bottom: 22px
      &__link
        font-size: 12px
        line-height: 15px
  .hotel
    &-greed
      flex-direction: column
    &__slider
      margin-bottom: 30px
    &-right
      flex-direction: row
    &-slider
      width: 100%
  .booking
    width: 340px
  .map
    width: 340px
  .reviews
    &-slider
      &__item
        max-width: 580px
  .activities
    &-wrapper
      flex-wrap: wrap
    &__card
      margin-bottom: 20px
  .card
    width: 340px
    height: 255px
  .footer
    &-wrapper
      grid-template-columns: repeat(6, 1fr)
      grid-row-gap: 38px
    &__logo
      grid-row: 1 / 2
      grid-column: span 2
    &__social
      &-network
        grid-row: 1 / 2
        grid-column: span 4
        align-self: center
    &__categories
      grid-row: 2 / 3
      grid-column: span 2
    &__addition
      grid-column: span 2
    &__legal
      grid-column: span 2
    &__contact
      &-details
        grid-column: span 5
        grid-row: 3
      &-form
        grid-column: span 5
        grid-row: 4

@media (max-width: 768px)
  .container
    width: 90%
  .navbar
    &__search
      width: 50%
    &-menu
      padding-top: 21px
      padding-bottom: 21px
  .booking
    height: 210px
    padding: 26px 22px 26px 23px
    width: 49%
  .map
    width: 49%
  .hotel
    padding-bottom: 60px
  .newsletter
    padding: 92px 0
    &-wrapper
      width: 90%
  .reviews
    padding-bottom: 60px
    &__title
      margin-bottom: 50px
      font-size: 30px
      line-height: 38px
    &-slider
      &__item
        width: 82%
  .activities
    padding-bottom: 50px
    &__title
      margin-bottom: 57px
  .card
    width: 49%
  .footer
    padding-top: 73px
    &-wrapper
      grid-template-columns: repeat(7, 1fr)
      grid-row-gap: 48px
      margin-bottom: 59px
    &__categories
      margin-bottom: 12px
    &__addition
      grid-column: span 3
    &__title
      &--mb-3
        margin-bottom: 26px
    &__logo
      width: 95px
    &__contact
      &-form
        grid-column: span 6
        max-width: 539px
    &__input
      max-width: 250px

@media (max-width: 660px)
  .user
    &__name
      margin-left: 14px
  .navbar
    &-menu
      &__link
        font-size: 11px
        height: 350px
  .newsletter
    &-title
      font-size: 22px
      &__strong
        font-size: 34px
    &__subscribe
      width: 50%
      min-width: 230px
  .hotel
    &-slider
      width: 100%
  .reviews
    &-slider
      &__item
        width: 100%
      &__button
        top: 32px
        &--prev
          left: 50%
          margin-left: -65px
          transform: translate(-50%, 0)
        &--next
          right: 50%
          margin-right: -65px
          transform: translate(50%, 0)
  .footer
    &__input
      flex-basis: 48%

@media (max-width: 576px)
  .container
    width: 88%
  .logo
    width: 99px
  body
    padding-top: 71px
  .navbar
    &-top
      padding-top: 26px
      padding-bottom: 26px
    &-user, &__search
      &--mobile
        &--hidden
          display: none
        &--visible
          display: flex
    &-user
      flex-direction: column
      justify-content: center
    &__search
      width: 100%
    &--mobile
      &--fixed
        position: fixed
        left: 0
        top: 0
        right: 0
        z-index: 99
    &-bottom
      display: none
      position: fixed
      padding-top: 31px
      left: 0
      right: 0
      bottom: 0
      top: 71px
      &--visible
        display: block
    &-menu
      flex-direction: column
      &__item
        margin-bottom: 20px
        &--mobile
          &--visible
            display: block
  .menu
    &-button
      display: flex
      width: 16px
      height: 11px
      align-items: center
      justify-content: space-between
      flex-direction: column
      border: none
      background-color: $light
      cursor: pointer
      &__line
        width: 16px
        height: 1px
        background-color: $text-color
  .user
    &__name
      &--light
        color: $light
        margin-left: 0
        margin-top: 10px
  .search
    &__input
      &--mobile
        width: 100%
  .stars
    flex-basis: auto
  .hotel
    padding-top: 0
    &-name
      flex-basis: 100%
    &-wrapper
      justify-content: space-between
    &-info
      padding-bottom: 38px
      &__text
        width: 100%
      &__name
        margin-top: 10px
      &__rating
        display: none
      &__offer
        order: -1
        margin-left: 0
    &-right
      flex-direction: column
      min-height: 450px
    &-slider
      height: 250px
  .booking
    width: 100%
  .map
    width: 100%
  .newsletter
    &-wrapper
      width: 88%
      flex-direction: column
      align-items: flex-start
    &-title
      margin: 0
      padding-bottom: 20px
      font-size: 24px
      &__strong
        font-size: 36px
    &__subscribe
      width: 100%
  .reviews
    &-slider
      &__item
        padding: 0 30px 30px
        &::after, &::before
          display: none
@media (max-width: 500px)
  .card
    width: 100%
  .footer
    &-wrapper
      grid-template-columns: 1fr
      grid-row-gap: 30px
      grid-column-gap: 0
      margin-bottom: 30px
    &__social-network
      grid-row: 2/3
      grid-column: span 1
      flex-wrap: wrap
    &__legal
      grid-row: 3/4
      grid-column: span 1
    &__addition
      grid-row: 4/5
      grid-column: span 1
    &__categories
      grid-row: 5/6
      grid-column: span 1
    &__contact-details
      grid-row: 6/7
      grid-column: span 1
    &__contact-form
      grid-row: 7/8
      grid-column: span 1
    &__form
      width: 100%
    &__title
      flex-basis: 100%
      &--inline
        margin-bottom: 23px
    &__input
      max-width: 100%
      flex-basis: 100%
    &__button
      order: 10
    &__info
      display: block
    &-wrap
      grid-template-columns: 1fr 0px
      grid-row-gap: 10px
    &__add
      grid-column-start: 1
    &__cards
      grid-row-start: 2
      grid-column-start: 1

@media (max-width: 320px)
  .hotel
    padding-bottom: 41px
    &__slider
      height: 180px
      margin-bottom: 20px
    &-right
      min-height: 405px
  .map
    height: 173px
  .newsletter
    padding: 76px 0 83px 0
    &-wrapper
      width: 90%
    &-title
      padding-bottom: 37px
      font-size: 20px
      line-height: 25px
      &__strong
        font-size: 30px
        line-height: 38px
  .reviews
    padding: 40px 0 38px
    &__title
      max-width: 245px
      margin: 0 auto
      margin-bottom: 42px
      font-size: 18px
      line-height: 23px
    &-slider
      &__button
        &--prev
          margin-left: -95px
        &--next
          margin-right: -85px
  .activities
    padding: 40px 0 60px 0
    &__title
      margin-bottom: 36px
      font-size: 18px
      line-height: 23px
    &__card
      margin-bottom: 22px
